@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  
}

 /* Catholic Coffee Logo */
.logo {
  display: flex;
  margin: 0 auto;
  height: 50%;
  padding-top: 30px;
}

/* Catholic Coffee Logo When Transition to Mobile */
.logo-mobile {
  display: none;
}

/* Black Banner */
.banner1 {
  background-color: black;
  width: 100%;
  height: 50%;
  overflow: auto;
  padding-bottom: 10px;
  position: relative;
}

/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Center navigation links horizontally */
  width: 80%;
  margin: 0 auto; /* Center navigation links horizontally */
  }

nav ul {
  padding-left: 0
}

nav a {
  display: flex;
  width: 100%;
  padding: 60px 0 20px;
  text-align: center;
  text-decoration: none;
  color: bisque;
  justify-content: center; /* Center navigation link text vertically */
}


nav ul {
  display: flex;
  justify-content: center; /* Center navigation links horizontally */
  margin: 0;
  padding: 5;
  list-style: none;
  text-align: center;
}

nav ul li {
  justify-content: center;
  position: relative;
  margin: 0 30px;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

nav ul ul li {
  float: none;
}

nav ul ul a {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}

nav a {
  font-family: Raleway;
}

.nav-container {
  position: absolute;
  right: 15px;
  top: 110px;
}

.nav-icon {
  margin-left: 15px;
  padding-right: 20px;
}

.mobile-nav {
  display: none;
}

.hamburger {
  display: none;
  z-index: 1;
}
/* All of these above are for the Nav bar styling and transition  when shrinking to mobile*/

/*Purple bar under the Nav bar */
.purple-bar {
  background: #ACA9CA;
  margin-bottom: -21px;
  height: 52px;
  padding: 10px;

}

/* Text in the Purple bar */
.text-purle-bar {
  text-align: center;
  font-size: 14px;
  font-family: Raleway;
  padding: -3px;
  color: #e9ddc7;
}

/*Our coffee box styles */
.our-coffee-box {
  display: flex;
  background: #e0dfe8;
  height: 139px;
  align-items: center;
  padding: 0 32px;
};
   
/*our coffee text inside*/
.our-coffee-text {
  display: block;
  width: 78%;
  margin: 0px;
  padding-left: 48px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

/*Our Coffee Paragraph */
.our-coffee-paragraph {
  max-width: 800px;
  padding-left: 50px;
  font-family: Raleway;
}

/*Buttons Featured and select subcategory*/
.button1, .button2 {
  background-color: #e8d1a6;
    border: none;
    color: #0f172a;
    padding: 12px;
    text-align: left;
    font-family: Raleway;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: 43px;
    margin-right: 34px;
    background-image: url('assets/downarrow.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  padding-left: 20px;
}


.button3 {
  background-color: #e8d1a6;
  border: none;
  color: #0f172a;
  padding: 13px;
  text-align: left;
  font-family: Raleway;
  display: inline-block;
  font-size: 20px;
  margin-left: auto;
  cursor: pointer;
  width: 145px;
  background-image: url('assets/downarrow.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  border-radius: 43px;
}

/*Buy Now Button On Coffees*/
.button4 {
  background-color: #aca6e8;
  border: none;
  color: #0f172a;
  padding: 13px;
  text-align: center;
  font-family: Raleway;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 145px;
  border-radius: 43px;
}

/* This moves the bottons in place*/
.button1-move {
  display: flex;
  padding: 1px;
  flex-direction: row;
  margin: 32px;

}
/* This moves the botton3 in place*/
.button3-move {
  padding: 1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: -91px;
    margin-right: 72px;
}

/*Container for Coffee Products*/
.products-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
}

.coffee-product {
  font-family: Raleway;
  text-align: center;
}

.coffee-product-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Styles for the footer*/
.footer-banner {
  background-color: #22212b;
  /* width: 100%; */
  height: 50%;
  overflow: auto;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links {
  color: #e8d1a6;
  text-decoration: none;
  list-style-position: none;
  list-style: none;
  font-family: Raleway;
}

.inputfield {
  padding: 1;
  border: 0;
}

.button-newsletter {
  background-color: #ffffff;
    border: none;
    color: #0f172a;
    padding: 12px;
    text-align: left;
    font-family: Raleway;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: 43px;
    margin-left: 50px;
    width: 300px;
    height: 26px;
}

.button-newsletterJoin {
  background-color: #ACABCB;
  border: none;
  color: #0f172a;
  padding: 11px;
  text-align: center;
  font-family: Raleway;
  display: inline-block;
  font-size: 19px;
  margin: -8px 2px;
  cursor: pointer;
  width: 107px;
  height: 49px;
  margin-left: 41px;
  margin-top: -23px;
  border-radius: 54px;
}

.newsletter-text {
  color: #e8d1a6;
  font-family: 'Raleway';
  font-size: 23px;
  margin-left: 102px;
}


.newsletter-text2 {
  color: #e8d1a6;
  font-family: 'Raleway';
  font-size: 12px;
}


.follow-catholic {
  color: #e8d1a6;
    margin-left: 175px;
    font-family: 'Raleway';
}

.social-media-icons {
  margin-left: 224px;
    max-width: 151px;
}

/* Media query for mobile devices */
@media screen and (max-width: 1040px) {

  body {
    margin: 0;
    padding: 0;
    width: 100%;
}

  .banner1 {
    padding: 30px 0;
  
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 200px;
    margin-left: 15px;
  }
  .nav-icon {
    display: none;
  }

  
  .hamburger-text {
    color:#0f172a;
    font-family: Raleway;
  }

  .mobile-nav.active {
    display: block;
    
  }

  /* Displays the navigation when clicked */
  nav a {
    display: flex;
    width: 100%;
    padding: 60px 0 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: center; /* Center navigation link text vertically */
  }

  /* navigation cart in menu */
  .nav-icon-cart {
    display: block;
    float: right;
    margin-left: 15px;
    padding-right: 20px;
    width: 28px;
  }
  
  /* menu-toggles hamburger menu*/
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 20px;
    width: auto;
    top: 30px;

  }
  
   /* hamburger design */
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .nav-container {
    right: 40px;
    top: 30px;
  }
  
  .menu-container {
    display: none;
  }
  
  .menu-container {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .menu-container li {
    padding: 10px 20px;
  }
  
  .menu-container  {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* transitions the nav bar to display*/
  .overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .our-coffee-text {
    display: flex;
    padding: 9px;
    height: 11;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
  }

  .our-coffee-paragraph {
    display: flex;
    padding: 9px;
    height: 11;
    margin: 0;
  }

  .our-coffee-box {
    height: 230px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .button3 {
    background-color: #e8d1a6;
    border: none;
    color: #0f172a;
    padding: 13px;
    text-align: left;
    font-family: Raleway;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 145px;
    border-radius: 18px;
  }


.products-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 43px;
}

.footer-banner {
  background-color: #22212b;
  height: 50%;
  overflow: auto;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
}