@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  display: flex;
  margin: 0 auto;
  height: 50%;
  padding-top: 30px;
}

.logo-mobile {
  display: none;
}

.banner1 {
  background-color: #22212b;
  width: 100%;
  height: 50%;
  overflow: auto;
  padding-bottom: 10px;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Center navigation links horizontally */
  width: 80%;
  margin: 0 auto; /* Center navigation links horizontally */

}

nav ul {
  padding-left: 0
}

nav a {
  display: flex;
  width: 100%;
  padding: 60px 0 20px;
  text-align: center;
  text-decoration: none;
  color: bisque;
  justify-content: center; /* Center navigation link text vertically */
  display: none;
}

nav ul {
  display: flex;
  justify-content: center; /* Center navigation links horizontally */
  margin: 0;
  padding: 5;
  list-style: none;
  text-align: center;
}

nav ul li {
  justify-content: center;
  position: relative;
  margin: 0 30px;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

nav ul ul li {
  float: none;
}

nav ul ul a {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}

nav a {
  font-family: Raleway;
}

.nav-container {
  position: absolute;
  right: 15px;
  top: 110px;
}

.nav-icon {
  margin-left: 15px;
  padding-right: 20px;
}

.hamburger {
  display: none;
  z-index: 1;
}

.purple-bar {
  background: #ACA9CA;
  margin-bottom: -21px;
  height: 52px;
  padding: 15px;
}


.text-purle-bar {
  text-align: center;
  font-size: small;
  font-family: Raleway;
  padding: 7px;
  color:#e9ddc7;
}

.mobile-nav {
  display: none;
}


.our-coffee-box {
  display: flex;
  background: #e0dfe8;
  height: 139px;
  align-items: center;
  padding: 0 32px;
};
   

.our-coffee-text {
  display: block;
  width: 78%;
  margin: 0px;
  padding-left: 48px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

.our-coffee-paragraph {
  max-width: 800px;
  padding-left: 50px;
  font-family: Raleway;
}

.button1, .button2 {
  background-color: #e8d1a6;
    border: none;
    color: #0f172a;
    padding: 12px;
    text-align: left;
    font-family: Raleway;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: 43px;
    margin-right: 34px;
}


.button3 {
  background-color: #e8d1a6;
  border: none;
  color: #0f172a;
  padding: 13px;
  text-align: left;
  font-family: Raleway;
  display: inline-block;
  font-size: 20px;
  margin-left: auto;
  cursor: pointer;
  width: 145px;
  border-radius: 43px;
}

/*Buy Now Button On Coffees*/
.button4 {
  background-color: #aca6e8;
  border: none;
  color: #0f172a;
  padding: 13px;
  text-align: center;
  font-family: Raleway;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 145px;
  border-radius: 43px;
}

.button1-move {
  display: flex;
  padding: 1px;
  flex-direction: row;
  margin: 32px;

}

.button3-move {
  padding: 1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: -91px;
    margin-right: 72px;
}

.products-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
}

.coffee-product {
  font-family: Raleway;
  text-align: center;
}

.coffee-product-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding:20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn {
  color: #ccc;
  float: right; 
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color:black;
  text-decoration: none;
  cursor: pointer;
}

.footer-banner {
  background-color: #22212b;
  width: 100%;
  height: 50%;
  overflow: auto;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  color: #e8d1a6;
  text-decoration: none;
  list-style-position: none;
  list-style: none;
  font-family: Raleway;
}

.button-newsletter {
  background-color: #ffffff;
  border: none;
  color: #0f172a;
  padding: 12px;
  text-align: left;
  font-family: Raleway;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
  border-radius: 43px;
  margin-right: 34px;
}

.button-newsletterJoin {
  background-color: #ACABCB;
  border: none;
  color: #0f172a;
  padding: 13px;
  text-align: left;
  font-family: Raleway;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 145px;
  border-radius: 43px;
}
.newsletter-text {
  color:#e8d1a6;
}

.newsletter-text2 {
  color:#e8d1a6;
}

.follow-catholic {
  color:#e8d1a6;
}

/* Media query for mobile devices */
@media screen and (max-width: 1040px) {

  body {
    margin: 0;
    padding: 0;
    width: 100%;
}

  .banner1 {
    padding: 30px 0;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 200px;
    margin-left: 15px;
  }
  .nav-icon {
    display: none;
  }

  
  .hamburger-text {
    color:#0f172a;
    font-family: Raleway;
  }

  .mobile-nav.active {
    display: block;
    
  }

  /* Displays the navigation when clicked */
  nav a {
    display: flex;
    width: 100%;
    padding: 60px 0 20px;
    text-align: center;
    text-decoration: none;
    color: bisque;
    justify-content: center; /* Center navigation link text vertically */
   
  }

  .nav-icon-cart {
    display: block;
    float: right;
    margin-left: 15px;
    padding-right: 20px;
    width: 28px;
  }
  
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 20px;
    width: auto;
    top: 30px;
  }
  
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .nav-container {
    right: 40px;
    top: 30px;
  }
  
  .menu-container {
    display: none;
  }
  
  .menu-container.active {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-container li {
    padding: 10px 20px;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .overlay {
    display: none;
  }
  
  .overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .our-coffee-text {
    display: flex;
    padding: 9px;
    height: 11;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
  }

  .our-coffee-paragraph {
    display: flex;
    padding: 9px;
    height: 11;
    margin: 0;
  }

  .our-coffee-box {
    height: 164px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .button3 {
    background-color: #e8d1a6;
    border: none;
    color: #0f172a;
    padding: 13px;
    text-align: left;
    font-family: Raleway;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 145px;
    border-radius: 43px;
  }


.products-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 43px;
}


}